.spacer {
  flex: 1 1 auto;
}
h4 {
  color: white;
  font-family: 'PT Mono', monospace;
  letter-spacing: -1px;
  text-transform: uppercase;
}
p {
  color: #FFFFFF;
  font-family: 'PT Mono', monospace;
  letter-spacing: -1px;
}
md-list {
  /*background-color: red;*/
  padding: 0;
  margin: 0;
}
