<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="formGroupExampleInput">Título</label>
    <input placeholder="Título" [(ngModel)]="article.title" name="title" type="text" id="formGroupExampleInput"
           class="form-control">
  </div>
  <div class="form-group">
    <input placeholder="Link" [(ngModel)]="article.link" name="link" class="form-control">
  </div>
  <div class="form-group">
    <label for="bodyInput">Cuerpo</label>
    <textarea placeholder="Body" rows="20" [(ngModel)]="article.body" name="body" id="bodyInput"
              class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label for="mainTagInput">Main tag</label>
    <select placeholder="Tags" id="mainTagInput" required [(ngModel)]="article.mainTag" name="mainTag"
            class="form-control">
      <option *ngFor="let tag of tags" [value]="tag.id">{{tag.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
